<!-- <h1>Questions of {{qTitle}}</h1> -->

<div class="bootstrap-wrapper">

    <div class="row">
        <div class="col-md-10">
                <mat-card style="margin-bottom:px;">
                    <h1>Questions of {{qTitle}}</h1>
                </mat-card>
        </div>
        <div class="col-md-2" style="margin-top:24px; text-align:right">
                <button mat-raised-button color='primary' [routerLink]="'/admin/add-questions/'+ qId + '/' + qTitle">Add Question</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <mat-card *ngFor="let q of questions; let i = index" style="margin-top: 15px;">
                <mat-card-content>
                    <p>
                        <b>Q{{i+1}}: </b> <span>{{q.content}}</span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <b>1) </b> {{q.option1}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <b>2) </b> {{q.option2}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <b>3) </b> {{q.option3}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <b>4) </b> {{q.option4}}
                                </p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>

                        <div style="margin-top: 12px;margin-bottom: 9px;">
                                <b>Correct Answer: </b> <span> {{q.answer}}  </span>
                                <button mat-button color="primary" style="float: right;">Update</button>
                                <button mat-button color="warn" (click)='deleteQuestion(q.id)' style="float: right;">Delete</button>
                        </div>
                    </div>
                </mat-card-content>

                <!-- <mat-card-actions >
                    <button mat-stroked-button color="warn">Delete</button>
                </mat-card-actions> -->

            </mat-card>
        </div>

    </div>
</div>