<div class="bootstrap-wrapper">
     <div class="container">
         <div class="row" style="margin-top: 20px;">
             <div class="col-md-6 offset-md-3 text-center">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo6.PNG" alt="" style="height: 120px;height: 120px; margin-top: 20px;">
                </div>

                 <h1>Welcome to Exam Portal</h1>
                 <button style="margin-bottom: 20px;" mat-raised-button color="primary">Home Page</button>
                 </mat-card>
             </div>
         </div>
     </div>
</div>